name: CI
on: pull_request

jobs:

  ktlint:
    name: KTLint
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Run KTLint
        run: bash ./gradlew lintKotlin

  buildHealth:
    name: Build Health
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Run BuildHealth
        run: bash ./gradlew buildHealth

  binaryCompatibilityValidator:
    name: Binary Compatibility Validator
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Run BuildHealth
        run: bash ./gradlew apiCheck

  test:
    name: Run Unit Tests
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Unit Tests
        run: bash ./gradlew testDebug --stacktrace

  buildApk:
    name: Build Sample APK
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Build debug APK
        run: bash ./gradlew sample:assembleDebug --stacktrace
